.tab1{
    -fx-border-width: 0;
    -fx-background-radius: 0;
    -fx-background-color: transparent;
    -fx-content-display: graphic-only;
     -fx-opacity: 1;
}

.tab-pane {
    -fx-tab-min-height: 35;
    -fx-tab-max-height: 35;
}